/* 默认亮色主题 */
:root {
  --text-color: #fff;
  --text-color1: var(--text-color);
  --text-color2: #ab9292;
  --text-color3: #e41f1f;
  --text-color4: #16de23;
  --text-color5: pink;
  --text-color6: #31c0eb;
  --text-color7: var(--text-color6);
  --text-color8: var(--text-color);
  --text-color9: #000;
  --bg1: #fff;
  --bg2: #31c0eb;
  --bg3: rgb(84, 92, 100);
  --bg4: var(--bg2);
  --bg5: rgb(234, 13, 13);
  --bg6: #5ad3ad;
  --bg7: rgb(84, 92, 100);
  --bg8: var(--bg7);
  --bg9: -webkit-linear-gradient(315deg, #42d392 25%, #647eff);
  --bg10: var(--bg1);
  --bg11: var(--bg1);
  --bg12: -webkit-linear-gradient(rgba(219, 15, 234, 0.5), rgb(20, 197, 241));
  --border1: #ff7070;
  --border2: #31c0eb;
  --border3: #efe5e5;
  --border4: #5ad3ad;
  --border5: #cb3030;
  --border6: skyblue;
}
/* 暗色主题 */
html[data-theme="dark"] {
  --text-color: #5e5757;
  --text-color1: #333;
  --text-color7: #31c0eb;
  --text-color9: #fff;
  --bg1: #0b0909;
  --bg2: #050505;
  --bg3: #121111;
  --bg4: var(--bg3);
  --bg5: var(--bg3);
  --bg6: var(--bg3);
  --bg7: var(--bg3);
  --bg8: var(--bg3);
  --bg9: -webkit-linear-gradient(315deg, #42d392 25%, #647eff);
  --bg10: var(--bg3);
  --bg11: #fff;
  --bg12: -webkit-linear-gradient(rgba(219, 15, 234, 0.5), rgb(20, 197, 241));
  --border1: #2a2845;
  --border2: #1f1b1b;
  --border3: #2d2929;
  --border4: #333;
  --border5: var(--border5);
  --border6: #fff;
}
