// 主题颜色
$text-color: #fff;
$text-color1: #000;
$text-color2: #ab9292;
$text-color3: #f56c6c;
$text-color4: #16de23;
$text-color5: pink;
$text-color6: #31c0eb;
$text-color7: $text-color6;
$text-color8: $text-color;
$text-color9: #000;
$bg1: #fff;
$bg2: #31c0eb;
$bg3: rgb(84, 92, 100);
$bg4: $bg2;
$bg5: #f56c6c;
$bg6: #5ad3ad;
$bg7: rgb(48, 70, 92);
$bg8: #ff7070;
$bg9: -webkit-linear-gradient(315deg, #42d392 25%, #647eff);
$bg10: $bg1;
$bg11: $bg1;
$bg12: -webkit-linear-gradient(rgba(219, 15, 234, 0.5), rgb(20, 197, 241));
$border1: #ff7070;
$border2: #31c0eb;
$border3: #efe5e5;
$border4: #fff;
$border5: #f56c6c;
$border6: skyblue;
$border7: #5ad3ad;
