// 设置 html 元素的高度为 100%，确保整个页面的高度占满视口高度。
html {
  height: 100%;
}

// 定义变量
$count: 150; // $count：总星星数量。
$duration: 25; // $duration：动画的总持续时间（秒）

//.layer1 直径小 数量多 速度慢
//.layer2 直径中 数量中 速度中
//.layer3 直径大 数量少 速度快

//  定义函数 createShadow

// 参数 $count 表示生成的阴影数量
@function createShadow($count) {
  // 生成一个包含多个阴影的 box-shadow 值
  $boxShadow: 0 0 0 0 #fff;
  // 使用 @for 循环从 0 到 $count，每次循环生成一个随机位置的白色阴影，并将其添加到 boxShadow 中
  @for $i from 0 through $count {
    $boxShadow: "#{$boxShadow}, #{random(100)}vw #{random(100)}vh 0 0 #fff";
  }
  // 使用 unquote 函数去除字符串中的引号，返回最终的 box-shadow 值
  @return unquote($boxShadow);
}
// 生成图层
// @for 循环：从 1 到 3，生成三个图层（.layer1, .layer2, .layer3）
// $i是循环变量，表示当前图层的索引，从1开始
@for $i from 1 through 3 {
  // $currentCount：当前图层的星星数量，随着图层数增加而减少
  $currentCount: floor($count / $i);
  // 当前图层的动画持续时间，随着图层数增加而减少。
  $currentDuration: floor($duration / $i); //
  .layer#{$i} {
    //  $size：当前图层星星的直径，随着图层数增加而增大
    $size: #{$i}px; //
    width: $size; // 宽度和高度：根据 $size 设置
    height: $size;
    position: fixed;
    background-color: #fff;
    border-radius: 50%;
    // 调用 createShadow 函数生成随机位置的阴影
    box-shadow: createShadow($currentCount);
    // 变换原点：中心底部
    transform-origin: center bottom;
    // 调用 moveUp 动画，持续时间为 $currentDuration 秒，线性运动，无限循环
    animation: moveUp #{$currentDuration}s linear infinite;

    &::after {
      content: "";
      position: fixed;
      // 继承属性：宽度、高度、圆角和阴影继承自父元素
      left: 0;
      top: 100vh;
      width: inherit;
      height: inherit;
      border-radius: inherit;
      box-shadow: inherit;
    }
  }
}
// 定义动画 moveUp
// 动画效果： 从当前位置向上移动 100 视口高度（100vh），即完全移出屏幕顶部
@keyframes moveUp {
  100% {
    transform: translateY(-100vh);
  }
}
