// theme.scss
@import "variables";

// 默认亮色主题
:root {
  --text-color: #{$text-color};
  --text-color1: #{$text-color1};
  --text-color2: #{$text-color2};
  --text-color3: #{$text-color3};
  --text-color4: #{$text-color4};
  --text-color5: #{$text-color5};
  --text-color6: #{$text-color6};
  --text-color7: #{$text-color7};
  --text-color8: #{$text-color8};
  --text-color9: #{$text-color9};
  --bg1: #{$bg1};
  --bg2: #{$bg2};
  --bg3: #{$bg3};
  --bg4: #{$bg4};
  --bg5: #{$bg5};
  --bg6: #{$bg6};
  --bg7: #{$bg7};
  --bg8: #{$bg8};
  --bg9: #{$bg9};
  --bg10: #{$bg10};
  --bg11: #{$bg11};
  --bg12: #{$bg12};
  --border1: #{$border1};
  --border2: #{$border2};
  --border3: #{$border3};
  --border4: #{$border4};
  --border5: #{$border5};
  --border6: #{$border6};
  --border7: #{$border7};
}

// 暗色主题
html[data-theme="dark"] {
  --text-color: #{$text-color};
  --text-color1: var(--text-color);
  --text-color7: #31c0eb;
  --text-color9: #{$text-color};
  --bg1: #101010;
  --bg2: #121213;
  --bg3: var(--bg2);
  --bg4: var(--bg3);
  --bg5: var(--bg3);
  --bg6: var(--bg3);
  --bg7: var(--bg3);
  --bg8: var(--bg3);
  --bg9: #{$bg9};
  --bg10: var(--bg3);
  --bg11: #{$text-color};
  --bg12: #{$bg12};
  --border1: #3a3a3a;
  --border2: #424242;
  --border3: #4a4a4a;
  --border4: #525252;
  --border5: var(--border5);
  --border6: #{$text-color};
  --border7: #525252;
}

// 深色跟随系统主题
html[data-theme="auto"] {
  @media (prefers-color-scheme: dark) {
    --text-color: #{$text-color};
    --text-color1: var(--text-color);
    --text-color7: #31c0eb;
    --text-color9: #{$text-color};
    --bg1: #101010;
    --bg2: #121213;
    --bg3: var(--bg2);
    --bg4: var(--bg3);
    --bg5: var(--bg3);
    --bg6: var(--bg3);
    --bg7: var(--bg3);
    --bg8: var(--bg3);
    --bg9: #{$bg9};
    --bg10: var(--bg3);
    --bg11: #{$text-color};
    --bg12: #{$bg12};
    --border1: #3a3a3a;
    --border2: #424242;
    --border3: #4a4a4a;
    --border4: #525252;
    --border5: var(--border5);
    --border6: #{$text-color};
    --border7: #525252;
  }
  @media (prefers-color-scheme: light) {
    --text-color: #{$text-color};
    --text-color1: #{$text-color1};
    --text-color2: #{$text-color2};
    --text-color3: #{$text-color3};
    --text-color4: #{$text-color4};
    --text-color5: #{$text-color5};
    --text-color6: #{$text-color6};
    --text-color7: #{$text-color7};
    --text-color8: #{$text-color8};
    --text-color9: #{$text-color9};
    --bg1: #{$bg1};
    --bg2: #{$bg2};
    --bg3: #{$bg3};
    --bg4: #{$bg4};
    --bg5: #{$bg5};
    --bg6: #{$bg6};
    --bg7: #{$bg7};
    --bg8: #{$bg8};
    --bg9: #{$bg9};
    --bg10: #{$bg10};
    --bg11: #{$bg11};
    --bg12: #{$bg12};
    --border1: #{$border1};
    --border2: #{$border2};
    --border3: #{$border3};
    --border4: #{$border4};
    --border5: #{$border5};
    --border6: #{$border6};
    --border7: #{$border7};
  }
}
